<%= form_with (model: @book_chapter, url: books_path, local: true) do |f| %>
  <div class="field">
    <%= f.label :title, "本のタイトル" %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :image, "本の画像" %><br />
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :select_genre_id, "ジャンル" %><br />
    <%= f.collection_select(:select_genre_id, Genre.all, :id, :name, {}, {class:"genre-select"}) %>
  </div>




  <div class="field", id="chapter_area">
    <%= f.label :chapter, "目次" %><br />
    <%= f.text_area :chapter, name: "chapter[]", id: "input_form_0", class: :form__text %>

    <div class="new_form", id="new_form_text">
       <%= f.submit "フォームの追加" , id: "form_button", class: :form_button %>
    </div>
  </div>





  <div class="field">
    <%= f.label :note, "メモ" %><br />
    <%= f.text_area :note, class: :form__text %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>