<%= form_with model: @book, local: true do |f| %>
  <div class="field">
    <%= f.label :title, "本の名前" %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :image, "本の画像" %><br />
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :select_genre_id, "ジャンル" %><br />
    <%= f.collection_select(:select_genre_id, Genre.all, :id, :name, {}, {class:"genre-select"}) %>
  </div>

  <div class="field">
    <%= f.label :chapter, "目次" %><br />
    <%= f.text_area :chapter, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :note, "メモ" %><br />
    <%= f.text_area :note, class: :form__text %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>