<%= form_with model: @book, local: true do |f| %>
  <div class="field">
    <%= f.label :title, "本のタイトル" %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :image, "本の画像" %><br />
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :select_genre_id, "ジャンル" %><br />
    <%= f.collection_select(:select_genre_id, Genre.all, :id, :name, {}, {class:"genre-select"}) %>
  </div>

  <div class="form-group">
    <%= "目次" %><br/>
    <table id='detail-association-insertion-point1'>
     <%= f.fields_for :chapters do |detail| %>
        <%= render 'chapter_item_fields', f: detail %>
     <% end %>
     </table>
     <%= link_to_add_association '行を追加',f, :chapters, partial: 'chapter_item_fields', class: :co_form_btn, data: {
      association_insertion_node: '#detail-association-insertion-point1',
      association_insertion_method: 'append' } %>
  </div>

  <div class="check_box">
        <%= f.label :chapter_box, "check" %><br/>
        <%= f.radio_button :chapter_box, "未読" %> 
        <%= f.label :chapter_box, "未読", {value: "未読", style: "display: inline-block;"} %>
        <%= f.radio_button :chapter_box, "途中" %>
        <%= f.label :chapter_box, "途中", {value: "途中", style: "display: inline-block;"} %>
        <%= f.radio_button :chapter_box, "完読" %>
        <%= f.label :chapter_box, "完読", {value: "完読", style: "display: inline-block;"} %>
      </div>

  <div class="field">
    <%= f.label :note, "メモ" %><br />
    <%= f.text_area :note, class: :form__text_memo %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>