

<p>ジャンル一覧</p>

<P><%= link_to "文学・評論", "#", class: :select_genre %></P>

<p><%= link_to "ビジネス・経済", "#", class: :select_genre %></p>

<p><%= link_to "歴史・地理", "#", class: :select_genre %></p>

<p><%= link_to "政治・社会", "#", class: :select_genre %></P>

<p><%= link_to "芸能・エンターテイメント", "#", class: :select_genre %></p>

<p><%= link_to "アート・建築・デザイン", "#", class: :select_genre %></p>

<p><%= link_to "人文・思想・宗教", "#", class: :select_genre %></p>

<p><%= link_to "暮らし・健康・料理", "#", class: :select_genre %></p>

<p><%= link_to "サイエンス・テクノロジー", "#", class: :select_genre %></p>

<p><%= link_to "趣味・実用", "#", class: :select_genre %></p>

<p><%= link_to "教育・自己啓発", "#", class: :select_genre %></p>

<p><%= link_to "スポーツ・アウトドア", "#", class: :select_genre %></p>

<p><%= link_to "音楽", "#", class: :select_genre %></p>

<p><%= link_to "旅行・紀行", "#", class: :select_genre %></p>

<p><%= link_to "コミックス", "#", class: :select_genre %></p>

<p><%= link_to "ライトノベル", "#", class: :select_genre %></p>
