<main class="main">
  <div class="inner">
    <div class="book__wrapper">
      <p class="book__hedding">
        <%= @book.title %>
      </p>
      <%= link_to @book.user.name, user_path(@book.user.id), class: :book__user %>

      <% if user_signed_in? && current_user.id == @book.user.id %>
        <div class="book__manage">
          <%= link_to "編集する", edit_book_path(@book.id), class: :book__btn %>
          <%= link_to "削除する", book_path(@book.id), class: "book__btn", method: :delete %>
        </div>
      <% end %>

      <div class="book__images">
          <%= image_tag @book.image %>
      </div>

      <div class="book__body">
        <div class="book__detail">
          <p class="detail__title">ジャンル</p>
          <p class="detail__message">
            <%= Genre.find(@book.select_genre_id).name %>
          </p>
        </div>

        <div class="book__detail">
          <p class="detail__title">目次</p>
          <p class="detail__message">
            <%=  simple_format(h(@book.chapter)) %>
            <div class="button_tag">
              <%= radio_button_tag( "chapter_box", "radio1",[checked = true]) %>
              <%= label_tag("chapter_box",@book.chapter_box)%>
            </div>
          </p>
          <p class="detail__title">メモ</p>
          <%=  simple_format(h(@book.note)) %>
        </div>
        
      </div>

      <div class="book__comments">
        <% if current_user %> 
          <%= form_with model: [@book, @comment] ,local: true do |f| %>
            <div class="field">
              <%= f.label :text, "コメント" %><br />
              <%= f.text_field :text %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :book__btn %>
            </div>
          <% end %>
        <% end %>
        <ul class="comments_lists">
          <%# 投稿に紐づくコメントを一覧する処理を記述する %>
            <li class="comments_list">
               <% if @comments %>
                  <% @comments.each do |comment| %>
                  <p>
                    <%= link_to comment.user.name, user_path(comment.user.id), class: :comment_user %>
                    <%= comment.text %>
                  </p>
                  <% end %>
               <% end %>
            </li>
          <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
        </ul>
      </div>
    </div>
  </div>
</main>
